<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/pesquisa.ico">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <% if(message != '') { %>
        <section class="message message-<%= type %>">
            <p><%= message %> </p>
            <span id="close-message" ><i class="bi bi-x-circle"></i></span>
        </section>
    <% } %>

    <% if(!user) { %> 
        <h1>LOGIN</h1>
        <form action="/login" method="post">
            <p>E-mail:</p>
            <input type="text" name="email" id="email" placeholder="insira o e-mail" >
            <p>Senha:</p>
            <input  type="password" name="password" id="password" placeholder="insira a senha">
            <button type="submit" id="loginBtn" >Enviar</button>
            <a href="register">Cadastre-se</a>
        </form>
    <% } else { %>
        <%- include('./index') %>
    <% } %>  

    <script src="script.js"></script>
</body>
</html>